body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input{
    margin:5px;
    width: 450px;
}

#div1{
    display:inline-block;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    width:500px;
}

label{
    font-weight: bold;
    float:left;
    margin-left: 25px;
}

#button1{
    background-color: lightblue;
    border-color: lightgrey;
    border-radius: 5px;
}

h1{
    margin: 10px;
    text-align:left;
    font-weight:20;
}

h3{
    margin: 10px;
    font-weight: normal;
}
